    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&display=swap');

    :root {
        --padding-contenedor: 100px 100px;
        --color-title: #001A49;
    }


    body {
        /*font-family: 'Poppins', sans-serif;*/
        font-family: 'Gabarito';
        overflow-y: scroll;
    }

    ::-webkit-scrollbar {
        width: 0.5rem;
        background-color: rgb(255, 255, 255)
    }

    ::-webkit-scrollbar-thumb {
        background-color: #4b4b4ba8;
    }

    .contenedor {
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        padding: var(--padding-contenedor);
    }

    .hero {
        width: 100%;
        height: 100vh;
        min-height: 600px;
        max-height: 800px;
        position: relative;
        display: grid;
        grid-template-rows: 100px 1fr;
        color: #fff;
    }

    .hero::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(180deg, #24242479 0%, #050b3d8c 100%), url('../images/island-main.jpg');
        /*background-image: linear-gradient(45deg, #02063f, #02034b);*/
        background-size: cover;
        /*clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);*/
        z-index: -1;
    }


    /* Nav */

    .nav {
        --padding-contenedor: 0;
        height: 100%;
        display: flex;
        align-items: center;
        /*background: linear-gradient(45deg, #02063f, #02034b);*/
        padding-right: 2rem;
        margin: 0;
    }

    .nav__title {
        font-weight: 300;
        cursor: pointer;
    }

    .nav__link {
        margin-left: auto;
        padding: 0;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        gap: 2em;
        justify-items: center;
        margin: 1rem 0 1rem auto;

    }

    .nav__items {
        list-style: none;
    }

    .nav__links {
        color: #fff;
        text-decoration: none;
    }

    .nav__menu {
        margin-left: auto;
        cursor: pointer;
        display: none;
    }

    .nav__img {
        display: block;
        width: 30px;
    }


    .nav__close {
        display: var(--show, none);
    }

    .nav__logo a {
        color: #fff;
        text-decoration: none;
    }

    /* Hero contenedor */

    .hero__contenedor {
        max-width: 800px;
        --padding-contenedor: 50px;
        display: grid;
        grid-auto-rows: max-content;
        align-content: center;
        gap: 1em;
        padding-bottom: 100px;
        text-align: center;
    }

    .hero__title {
        font-size: 3rem;
    }

    .hero__paragraph {
        margin-bottom: 20px;
    }

    .cta {
        display: inline-block;
        background-color: #2091F9;
        justify-self: center;
        color: #fff;
        text-decoration: none;
        padding: 13px 30px;
        border-radius: 32px;
    }

    footer {
        background: #414141;
        padding: 60px 0 30px 0;
        margin: auto;
        overflow: hidden;
    }

    /* FOOTER */
    footer {
        background: linear-gradient(70deg, #2d0272, #045c77), url(../images/buceo.png);
    }

    .contenedor-footer {

        display: flex;
        width: 90%;
        justify-content: space-evenly;
        margin: auto;
        padding-bottom: 50px;
        border-bottom: 1px solid #ccc;
    }

    .content-foo {
        text-align: center;
    }

    .content-foo h4 {
        color: #fff;
        border-bottom: 3px solid #af20d3;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

    .content-foo p {
        color: #ccc;
    }

    .titulo-final {
        text-align: center;
        font-size: 24px;
        margin: 20px 0 0 0;
        color: #9e9797;
    }

    /* Media queries */

    @media (max-width:800px) {

        .nav__menu {
            display: block;
        }

        .nav__link--menu {
            position: fixed;
            background-color: #000;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            z-index: 100;
            opacity: 0;
            pointer-events: none;
            transition: .7s opacity;
        }

        .nav__link--show {
            --show: block;
            opacity: 1;
            pointer-events: unset;
        }

        .nav__close {
            position: absolute;
            top: 30px;
            right: 30px;
            width: 30px;
            cursor: pointer;
        }

        .hero__title {
            font-size: 2.5rem;
        }


        .about__main {
            gap: 2em;
        }


        .footer__contenedor {
            flex-wrap: wrap;
        }

        .nav--footer {
            width: 100%;
            justify-items: center;
        }

        .nav__link--footer {
            width: 100%;
            justify-content: space-evenly;
            margin: 0;
        }

        .footer__form {
            width: 100%;
            justify-content: space-evenly;
        }

        .footer__input {
            flex: 1;
        }

    }

    @media (max-width:600px) {


        .hero__title {
            font-size: 2rem;
        }

        .hero__paragraph {
            font-size: 1rem;
        }

        .subtitle {
            font-size: 1.8rem;
        }



        .footer__title {
            justify-self: start;
            margin-bottom: 15px;
        }

        .nav--footer {
            padding-bottom: 60px;
        }

        .nav__link--footer {
            justify-content: space-between;
        }

        .footer__inputs {
            flex-wrap: wrap;
        }

        .footer__input {
            flex-basis: 100%;
            margin: 0;
            margin-bottom: 16px;
        }

        .footer__submit {
            margin-right: auto;
            margin-left: 0;


            /* 
            margin:0;
            width: 100%;
            */
        }
    }